---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | William Loyer" description="About William Loyer background">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img class="imgCentered"
					width="300"
					height="300"
					src="/portfolio/assets/portrait.jpg"
					alt=" at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a unique blend of culinary artistry and technical prowess, my 15-year career as a pastry chef cultivated a foundation of creativity, precision, and a deep-rooted passion for craftsmanship. Driven by a lifelong enthusiasm for development, I embarked on a successful career transition, trading sugar and spice for code and innovation.
					</p>
					<p>
						 Leveraging the transferable skills of leadership, project management, and meticulous attention to detail honed in the bustling kitchens, I've managed to navigate the complexity of the tech landscape.
						 What sets me apart is my love for team dynamics, drawing from my experience in orchestrating harmonious kitchen teams. I thrive on the collaborative energy of working together, solving problems, and innovating solutions, much like the interplay of ingredients in a delicious dessert.
					</p>	 
					<p> Bridging the gap between the culinary and tech worlds, I am not just a developer; I am a purveyor of thoughtfully crafted, innovative    solutions, always aiming for the perfect recipe for success.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p><a href="https://www.afpa.fr/formation-qualifiante/developpeur-web-et-web-mobile">BTS (BAC+2)Développeur Web et web mobile</a>(ended in april 2023 at <a href="https://www.afpa.fr/">AFPA</a> )</p>
					<p><a href="https://ecole-ipssi.com/formations-informatique/bachelor-developpeur-fullstack-devops/">Bachelor (bac+3) Développeur full-stack and DevOps in apprenticeship </a>(starting semptember 2023 at <a href="https://ecole-ipssi.com/">IPSSI</a>  )</p>
					<p><a href="https://ecole-ipssi.com/formations-informatique/master-bigdata-data/">Master (BAC+5)Dev, Bigdata and AI in apprenticeship </a> (starting after bachelor (2024) at <a href="https://ecole-ipssi.com/">IPSSI </a>)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curious, rigorous, creative, determined, team spirit </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
